.header {
    background-color: #222;

    display: flex;
    justify-content: space-between;

    padding: 20px 40px 20px 40px;

    .menu {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
            color: white;
            text-decoration: none;                           
        }

        a:hover {
            color: #ffbb33;
        }
    }
}